<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ todo.id == 0 ? "Ajout" : "Modification" }} d'une tâche</h1>
        <p class="lead">Utiliser le formulaire suivant afin d{{ todo.id == 0 ? "'ajout" : "e modifi" }}er une tâche
        </p>
    </div>
</div>

<div class="container">
    <form #todoForm="ngForm" (ngSubmit)="addTodo()">
        <input type="hidden" name="idInput" id="idInput" [(ngModel)]="todo.id">
        <div class="form-group">
            <label for="labelInput">Label</label>
            <input type="text" class="form-control" name="labelInput" id="labelInput" required [(ngModel)]="todo.label"
                placeholder="Entrer un label pour la tâche" >
        </div>
        <button type="submit" class="btn btn-primary"
            [disabled]="todoForm.invalid">{{ todo.id == 0 ? "Ajout" : "Modifi" }}er</button>
    </form>
</div>
