<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<ul>
		<%
			for( var i=0 ; i<gens.length ; i++ ) {
				%><li>
					<a href=<%= '/profil/'+gens[i] %> ><%= gens[i] %></a>
				</li><%
			}
		%>
	</ul>
</body>
</html>